MONGO_URI=mongodb+srv://hoangculus25_db_user:rpOAD3Li8ZUeQqsq@cluster1.z8qcclv.mongodb.net/?appName=Cluster1

DB_NAME=dbn_ttcs

CLOUDINARY_NAME=dggcrjhzd
CLOUDINARY_API_KEY=798253433793532
CLOUDINARY_API_SECRET=6fY3myragP1X42HGAK7cinQNUqY
CLOUDINARY_FOLDER=ttcs

REDIS_HOST=redis_cache
REDIS_PORT=6379